Требования к приложению task-checker. 


Необходимо создать приложение task-checker. 
Задача приложения провести тестирование среди участников конкурса. 
В приложении должна быть возможность добавить и сохранить вопросы с правильными ответами на них. 
В приложении должна быть возможность добавлять участников. 
В приложении должна быть возможность отправлять и сохранять ответы пользователей. 
Каждому участнику должна быть выдана только одна попытка пройти тест. Время на прохождение теста 30 минут. 
Если участник не успел заполнить все ответы, результаты ответов, которые он успел дать, должны быть сохранены. 
У участника не должно быть возможности открыть 2 экземпляра теста с разных устройств или браузеров. 



Со стороны веба

Стартовая страница должна выглядеть следующим образом. Пример: 
http://task-checker.com/<uid>
Никакие другие страницы не должны быть доступны. Вместо страниц показывать страницу 404. 
При переходе на http://task-checker.com/<uid> должен открываться дополнительный материал. 
Дополнительный материал должен быть представлен по 3-м темам в табах и быть доступным без перезагрузки страницы 
Участник может свободно перемещаться по этим вкладкам
Переход по ссылке вида http://task-checker.com/<uid> не должен активировать время начала теста 

Внизу стартовой страницы должны быть правила участия и галочка принятия 
Кнопка "перейти к тестированию" не должна быть активна до тех пор пока участник не ознакомится с правилами и не подтвердит это нажав на "Я ознакомился/лась с правилами"
После нажатия на галочку, кнопка становится активной
При нажатии "перейти к тестированию" на кнопку должна открыться страница http://checker.jettycloud.com/task/<uid>
На странице должно отобразиться имя и фамилия пользователя. Имя Фамилия пользователя должно cоответствовать UID. 
Под именем должно отображаться время. Время должно уменьшаться. 
Также, на странице должны отображаться вопросы. Вопросы должны отображаться по одному. У участника не должно быть возможности посмотреть все вопросы вперед или вернуться к предыдущим назад. 
Над вопросом должно быть отображение сколько всего вопросов, и на каком участник сейчас. 
Кнопка следующий вопрос не активна, до тех пор пока не выбран ответ. 
В тесте может быть 4 типа вопросов
- Простые. Это тест с вариантами ответов 
- С картинками. Когда вопрос содержит картинку. Картинка должна корректно отображаться в интерфейсе
- С текстовым ответом. Когда ответом на вопрос является какой-то код или текст

В конце теста должна быть кнопка отправить результат. 

Если пользователь уже проходил данный тест или перешел по ссылке с неверным UID ему должна показаться страница ошибки с текстом 
"Вы не можете пройти тест! Пожалуйста, напишите в поддержку, если вы считаете , что это ошибка." И имейлом поддержки.





Со стороны апи